.article-select {
  @extend %ease-trans;
  clear: both;
  width: 90%;
  background: $color-secondary;
  margin: 1em auto;
  font-size: rem(16);
  height: 2.4em;
  color: $color-white;
  cursor: pointer;

  @media screen and (min-width: $break-medium) {
    width: 50%;
    font-size: rem(20);
  }
  
  .desc {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.8em;
    line-height: 2.4em;

    @media screen and (min-width: $break-medium) {
      padding-left: 2em;
    }
  }
  
  .pulldown {
    @extend %ease-trans;
    float: right;
    vertical-align: middle;
    width: 2.4em;
    height: 100%;
    background-color: $color-secondary;
    background-image: url('../img/pulldown.png');
    background-size: cover;
  }
}

.article-select:hover .pulldown,
.active-article-select .pulldown {
  background-color: $color-secondary;
  background-image: url('../img/pulldown_hover.png');
}

.selectdropdown {
  position: relative;
  top: 0;
  left: 0;
  background: $color-primary;
  color: #fff;
  display: none;
  clear: both;
  z-index: 1;
  
  span {
    @extend %ease-trans;
    display: block;
    border-bottom: solid 1px #555;
    padding-left: 0;
    line-height: 2.4em;
    width: 100%;
    
    &:last-child {
      border-bottom: none;
    }
    
    &.active {
      background-color: $color-secondary;
      background-image: url('../img/radio_tick.png');
      background-repeat: no-repeat;
      background-size: 1.6em 1.6em;
      background-position: 98% 50%;
    }
    
    &:hover {
      background-color: $color-secondary;
    }
  }
}