.wiki-wrapper {
  @extend %container;
  max-width: 960px;
  margin: 5% auto;
  column-count: 1;
  column-gap: 20px;

  @media screen and (min-width: $break-medium) {
    column-count: 2;
  }

  @media all and (min-width: $break-large) {
    column-count: 3;
  }
}

.wiki {
  @extend %container;
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  height: auto;
  width: 100%;
  background-color: $color-white;
  font-size: rem(16);
  margin: 5% auto;
  border-radius: 8px;

  @media screen and (min-width: $break-medium) {
    min-height: 100px;
  }

  @media all and (min-width: $break-large) {
    min-height: 200px;
  }

  .title {
    margin: 0 auto;

    a {
      color: $color-secondary;

      &:hover {
        color: $color-primary;
      }
    }
  }
}
