doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Wiki Blog
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='assets/css/main.css')
    link(rel='shortcut icon', href='assets/img/favicon.png')
    link(rel='apple-touch-icon', href='assets/img/apple-touch-icon.png')
  body

    header.header
      .container
        nav.nav
          ul
            li
              a.logo(href='/') Wiki Blog

    section
      a.btn(href="#") Get Articles
    section.wiki-wrapper

    script(type='text/javascript', src='assets/js/scripts.min.js')
